@import "../../@theme/styles/themes.scss";
@import "~@nebular/theme/styles/global/breakpoints";
@import "~bootstrap/scss/mixins/breakpoints";

@include nb-install-component() {
  overflow-x: hidden;

  /// ? Subjects Column
  #instructors-column {
    #instructors-title {
      margin-left: 12rem;
    }

    .instructors-header {
      overflow: hidden;
    }

    h1 {
      font-size: normal;
      font-variant: normal;
      font-weight: medium;
      font-size: 32px;
      line-height: 27px;
      font-family: "Roboto", sans-serif;
      color: nb-theme(color-primary-700);
    }

    .view-txt {
      font-size: 16px;
      color: nb-theme(color-primary-500);
      margin-top: -2rem;
      margin-right: 1.5rem;
    }

    .card-layout-tmpl {
      overflow-x: hidden;
      margin-top: 1rem;
      margin-left: 16%;
      padding-right: 3rem;

      .sort-card {
        height: 90%;
        border-radius: 1rem;
        position: relative;

        p {
          font-size: 14px;
          font-family: "Roboto", sans-serif;
          margin-bottom: 0 !important;
        }

        .top-layout {
          padding: 3rem 0rem;
          align-content: center;

          img {
            height: 6rem;
            width: 6rem;
            border-radius: 3rem;
            object-fit: cover;
          }

          h4 {
            font-size: normal;
            font-variant: normal;
            font-weight: medium;
            font-size: 16px;
            line-height: 27px;
            font-family: "Roboto", sans-serif;
            margin-top: 2rem;
          }
        }

        .bottom-layout {
          padding: 3rem 0rem;
          align-content: center;
          background-color: rgb(152, 152, 152);
          margin-top: 2rem;
          border-radius: 1rem;

          img {
            height: 6rem;
            width: 6rem;
            border-radius: 3rem;
            object-fit: cover;
          }

          h4 {
            font-size: normal;
            font-variant: normal;
            font-weight: medium;
            font-size: 16px;
            line-height: 27px;
            font-family: "Roboto", sans-serif;
            margin-top: 2rem;
          }
        }

        .badges {
          margin-top: 0.5rem;
        }

        .card-badge {
          background-color: #fff;
          min-width: 60px;
          padding: 0.25rem 0.5rem;
          border-radius: 7px;

          p {
            font-size: 10px;
            margin-bottom: 0 !important;
          }
        }
      }
    }
  }
}
