@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

// themes - our custom or/and out of the box themes
@import "themes";

// framework component themes (styles tied to theme variables)
@import "~@nebular/theme/styles/globals";
// @import '~@nebular/auth/styles/all';

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/grid";

// loading progress bar theme
@import "./pace.theme";

@import "./layout";
@import "./overrides";

// install the framework and custom global styles
@include nb-install() {
  // framework global styles
  @include nb-theme-global();
  @include ngx-layout();
  @include nb-overrides();
  // loading progress bar
  @include ngx-pace-theme();

  html,
  body {
    font-family: "Roboto", sans-serif;
  }

  .mw-100 {
    min-width: 100%;
  }

  .pointer {
    cursor: pointer;
  }

  .pim-0 {
    padding: 0 !important;
  }

  // ? Component Title
  h3 {
    font-size: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    font-family: "Roboto", sans-serif;
    color: nb-theme(color-primary-500);
  }

  // ? Filters column
  .fixed-filter {
    position: fixed;
    width: 14%;
    z-index: 100;
  }

  /// ? Filters Column
  #filters-column {
    // ? Search Bar
    #search-field {
      input {
        font-size: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        font-family: "Roboto", sans-serif;
      }

      input::placeholder {
        color: rgb(129, 129, 129);
      }
    }

    h4 {
      font-size: normal;
      font-variant: normal;
      font-weight: medium;
      font-size: 14px;
      font-family: "Roboto", sans-serif;
    }

    p {
      font-size: normal;
      font-variant: normal;
      font-weight: normal;
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      margin-bottom: 0 !important;
    }

    .see-more {
      font-size: normal;
      font-variant: normal;
      font-weight: normal;
      font-size: 12px;
      font-family: "Roboto", sans-serif;
      margin-bottom: 0 !important;
      color: nb-theme(color-primary-500);
    }

    .check-box {
      display: block;
    }
  }
}

@import "@angular/material/prebuilt-themes/pink-bluegrey.css";
