// @nebular theming framework
@import "~@nebular/theme/styles/theming";
// @nebular out of the box themes
@import "~@nebular/theme/styles/themes";

// * Minty Mint

// $nb-enable-css-custom-properties: true;

$nb-themes: nb-register-theme(
  (
    // ===========================
    // LAYOUT
    // ===========================
    layout-padding-top: 2.25rem,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    slide-out-background: #ffffff,
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
    // LAYOUT
    layout-background-color: #ffffff,
    layout-window-mode-max-width: 1920px,
    layout-window-mode-background-color: #ffffff,
    layout-scrollbar-color: #ffffff,
    layout-padding: 2.25rem,
    layout-medium-padding: 2.25rem,
    layout-small-padding: 2.25rem,
    // HEADER
    header-background-color: #49a889,
    header-text-color: #ffffff,
    header-shadow: 0 0.5rem 1rem 0 rgba(73, 44, 44, 0),
    /// HEADER ACTIONS
    actions-divider-color: #49a889,
    actions-icon-color: #ffffff,
    actions-text-color: #ffffff,
    actions-small-height: 1.75rem,
    actions-small-icon-height: 1.75rem,
    actions-small-text-font-size: 1.16rem,
    // FOOTER
    footer-background-color: #ffffff,
    footer-text-color: #ffffff,
    footer-shadow: none,
    footer-text-highlight-color: #fff,
    footer-divider-color: #000,
    footer-divider-width: 0px,
    // INPUTS
    input-placeholder-text-font-family: "Rubik" sans-serif,
    input-outline-color: #dbdbdb,
    input-basic-text-color: #000000,
    input-basic-placeholder-text-color: #5a5a5a,
    input-basic-border-color: #dbdbdb,
    input-basic-focus-border-color: #dbdbdb,
    input-basic-focus-background-color: #fff,
    input-basic-background-color: #fff,
    input-basic-hover-background-color: #fff,
    input-basic-hover-border-color: #dbdbdb,
    input-basic-disabled-background-color: #f7f9fc,
    input-basic-disabled-border-color: #e4e9f2,
    input-basic-disabled-text-color: rgba(143, 155, 179, 0.48),
    input-basic-disabled-placeholder-text-color: rgba(143, 155, 179, 0.48),
    // ===========================
    // COLOR PALETTE
    // ===========================
    color-primary-100: #defae6,
    color-primary-200: #bef6d3,
    color-primary-300: #97e4bc,
    color-primary-400: #74caa6,
    color-primary-500: #49a889,
    color-primary-600: #35907b,
    color-primary-700: #24786e,
    color-primary-800: #17615f,
    color-primary-900: #0e4c50,
    color-primary-transparent-100: rgba(73, 168, 137, 0.08),
    color-primary-transparent-200: rgba(73, 168, 137, 0.16),
    color-primary-transparent-300: rgba(73, 168, 137, 0.24),
    color-primary-transparent-400: rgba(73, 168, 137, 0.32),
    color-primary-transparent-500: rgba(73, 168, 137, 0.4),
    color-primary-transparent-600: rgba(73, 168, 137, 0.48),
    color-success-100: #e8fbd3,
    color-success-200: #cdf7a8,
    color-success-300: #a5e878,
    color-success-400: #7ed254,
    color-success-500: #4ab524,
    color-success-600: #339b1a,
    color-success-700: #1f8212,
    color-success-800: #10680b,
    color-success-900: #065608,
    color-success-transparent-100: rgba(74, 181, 36, 0.08),
    color-success-transparent-200: rgba(74, 181, 36, 0.16),
    color-success-transparent-300: rgba(74, 181, 36, 0.24),
    color-success-transparent-400: rgba(74, 181, 36, 0.32),
    color-success-transparent-500: rgba(74, 181, 36, 0.4),
    color-success-transparent-600: rgba(74, 181, 36, 0.48),
    color-info-100: #caeffd,
    color-info-200: #97dbfc,
    color-info-300: #62bef7,
    color-info-400: #3ba1ef,
    color-info-500: #0076e5,
    color-info-600: #005bc4,
    color-info-700: #0044a4,
    color-info-800: #002f84,
    color-info-900: #00226d,
    color-info-transparent-100: rgba(0, 118, 229, 0.08),
    color-info-transparent-200: rgba(0, 118, 229, 0.16),
    color-info-transparent-300: rgba(0, 118, 229, 0.24),
    color-info-transparent-400: rgba(0, 118, 229, 0.32),
    color-info-transparent-500: rgba(0, 118, 229, 0.4),
    color-info-transparent-600: rgba(0, 118, 229, 0.48),
    color-warning-100: #fbfccb,
    color-warning-200: #f8fa98,
    color-warning-300: #eef263,
    color-warning-400: #e1e63c,
    color-warning-500: #cfd604,
    color-warning-600: #b1b802,
    color-warning-700: #939a02,
    color-warning-800: #767c01,
    color-warning-900: #616600,
    color-warning-transparent-100: rgba(207, 214, 4, 0.08),
    color-warning-transparent-200: rgba(207, 214, 4, 0.16),
    color-warning-transparent-300: rgba(207, 214, 4, 0.24),
    color-warning-transparent-400: rgba(207, 214, 4, 0.32),
    color-warning-transparent-500: rgba(207, 214, 4, 0.4),
    color-warning-transparent-600: rgba(207, 214, 4, 0.48),
    color-danger-100: #fde2d7,
    color-danger-200: #fbbfb0,
    color-danger-300: #f49286,
    color-danger-400: #ea6966,
    color-danger-500: #dd3742,
    color-danger-600: #be283f,
    color-danger-700: #9f1b3c,
    color-danger-800: #801136,
    color-danger-900: #6a0a33,
    color-danger-transparent-100: rgba(221, 55, 66, 0.08),
    color-danger-transparent-200: rgba(221, 55, 66, 0.16),
    color-danger-transparent-300: rgba(221, 55, 66, 0.24),
    color-danger-transparent-400: rgba(221, 55, 66, 0.32),
    color-danger-transparent-500: rgba(221, 55, 66, 0.4),
    color-danger-transparent-600: rgba(221, 55, 66, 0.48)
  ),
  default,
  default
);
