<div class="row">
  <div class="col-12">
    <div class="d-flex justify-content-between pim-0">
      <div class="p-2">
        <p>About</p>
      </div>
      <div class="p-2">
        <p>Accesibility</p>
      </div>
      <div class="p-2">
        <p>Help Center</p>
      </div>
      <div class="p-2">
        <p>Impressum</p>
      </div>
      <div class="p-2">
        <p>Get Minty Mint App</p>
      </div>
      <div class="p-2">
        <p>More</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 text-center">
    <h1>MINTY MINT <span id="trade-mark">© 2020</span></h1>
  </div>
</div>
